/* =====================================================================
   Thème EuroMillions — Or & Rouge
   ===================================================================== */

[data-game="euromillions"] {
  --accent: #021466;
  --accent-deep: #021466;
  --accent2: #F6BE1B;
  --gold: #F6BE1B;
  --gold-deep: #D4A017;
  --star: #F6BE1B;
}
